@{
    ViewBag.Title = "Forgot Password Confirmation | TeleCalling CRM";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h4>Recover Password</h4>
<h6 class="font-weight-light">Please check your email to reset your password.</h6>


